:root {
  --calculator-bg-color: #f2f2f2;
  --button-bg-color: #e6e6e6;
  --button-text-color: #333;
  --button-border: 1px solid #ccc;
  --button-border-radius: 5px;
}

body {
  background-color: var(--calculator-bg-color);
  font-family: Arial, sans-serif;
  text-align: center;
}

.calculator {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 40px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  animation: slide-in 0.5s forwards;
 
}


@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}




.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
 
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s
}

button:hover {
  background-color: wheat;
  border: 1px solid red;
  color: orangered;
}
button:active {
  transform: scale(0.95);
}

.logo {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-width: 50px; /* Adjust the size as needed */
  height: auto;
}